.dashContent{
    padding: 20px;
    margin: 2rem auto 0 auto;
    color: white;
    @media only screen and (max-width:768px){
        padding: 10px;
    }
}
.dashContainer{
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px; 
    background-color: rgba(0, 0, 0, 0.6);
    @media only screen and (max-width:768px){
        padding: 10px;
    }
}
.dashHead{
    // border: 1px solid black;
    border-bottom: 1px solid white ;
    padding: 15px;
    margin-bottom: 20px;
    p{
        padding: 10px 0px;
    } 
}
.dashHead-info{
    display: flex;
    gap: 10px;
}
.form-btn{
gap: 25px;
}
// .dashMain{
//     display: flex;

// }
.dashCard-in{
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 10px;
    @media only screen and (max-width:768px){
        padding: 10px;
    }
}
.dashCard{
    display: flex;
    justify-content: space-between;
    // width: inherit;

}
.dashbtn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardtitle{
    padding: 5px 0px;
}
.cardtitle p{
padding: 10px 0px;
}
.newblog-form{
    height: auto;
    padding: 25px;
    width: 550px;
    margin: 0px auto 25px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    @media only screen and (max-width:768px){
        width: 270px;
    }
}
.b-form-inputs{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
textarea{
    border-radius: 5px;
    
}
.newblog-text{
    height: 250px;
}
label{
    padding-bottom: 10px;

}
.form-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        border: 1px solid white;
    }
}
.head-btn{
    cursor: pointer;
    text-transform: uppercase;
    border: 0px;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 15px;
    letter-spacing: 3px;
    transition: all 0.5s ease 0s;
}
.head-btn:hover{
    background-color:white;
    color:black;
}
.post-trash{
    font-size: 1.5rem;
    border: 0;
    background: transparent;  
    color: white; 
    transition: all 0.5s ease 0s; 
}
.post-trash:hover{
    color:red;
}