// import styled from "styled-components";
$primary-color: #375C79;
$secondary-color: #182E49;
$color: #f5f5f5;
$bg-color: rgba(0, 0, 0, 0.6);
.posts{
    // background-color: #ffffff;
    // background-color: #999999;
    // overflow: auto;
    height: 100vh;
    &::-webkit-scrollbar {
        width: 1vw;
      }
      &::-webkit-scrollbar-track {
        background-color: #5555;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #7775;
      }
}
.top{
    text-align: left;
    padding: 15px;
    p{
        font-size: 1rem;
    }  
}
.main{
display: grid;
color: #eee;
grid-template-columns: repeat(3,1fr);
gap:3rem;
margin:0;
padding:3rem;
// background-color: $bg-color;
font-family: 'Montserrat', sans-serif;
@media only screen and (max-width:768px){
    grid-template-columns: repeat(1,0.8fr);
    padding:1.5rem;
}  }

.div{
display: flex;
flex-direction: column;
padding:2rem;
margin: 2rem;
cursor: pointer;
text-align: center;
color:white;
// border: 1px solid #3b52c2;;
padding: 15px;
border-radius: 5px;
font-family:  -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
font-size: 1rem;
background: $secondary-color;
h3{
    margin-bottom:10px;
}
.btn{
    cursor: pointer;
    text-transform: uppercase;
    border: 0px;
    color: white;
    margin-top: 15px;
    background-color: black;
    text-decoration: none;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 15px;
    letter-spacing: 3px;
    transition: all 0.5s ease 0s;
}
.btn:hover{
    background-color:white;
    color:black;
}
p{
    letter-spacing: 2px;
    margin-bottom:10px;

}
}
