// import styled from "styled-components";
.header-div{
display: flex;
justify-content: space-between;
// align-items: left;
font-size: 2rem;
text-transform: uppercase;
background-color: #080A0E;
color:  white;
padding: 20px;
    h2{
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        letter-spacing: 3px;
    }

}
.header-icon{
    font-size: 1.3rem;
    border: 0;
    background: transparent;  
    color: gray; 
    transition: all 0.5s ease 0s; 
  }
  .header-icon:hover{
    color: white;
}
.header-btn{
    display: flex;
    // justify-content: flex-end;
}