.header-div{
    display: flex;
    justify-content: space-between;
    background-color: #080A0E;
    color:  white;
    padding: 20px;
    h2{
        font-size: 2rem;
        text-transform: uppercase;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        letter-spacing: 3px;
    }
}
.header-btn{
    display: none;
    justify-content: center;
    align-items: center;
    .fa-user-circle-o{
        font-size: 2.5rem;
        margin-right: 10px;
    }
    .user{
        font-size: 1.5rem;
        .header-icon{
            display: flex;
            font-size: 1rem;
            border: 0;
            background: transparent;
            color: gray;
            transition: all 0.5s ease 0s;
            margin-top: 5px;
            padding: 0;
          }
          .header-icon:hover{
            color: white;
        }

    }
    // justify-content: flex-end;
}
.header-user-icon{
    display: flex;
    font-size: 1rem;
    border: 0;
    background: transparent;
    color: gray;
    transition: all 0.5s ease 0s;
    margin-top: 5px;
    padding: 0;
}