$secondary-color: #182E49;
.comment{
    padding: 20px;
    h3{
        text-align: center;
        font-size: 1.5rem;
    }
    max-width: 700px;
    margin: 0px auto 25px;
}
.contentCom{
    border: 1px solid black;
    color: white;
    padding: 25px;
    margin: 20px;
    font-size: 20px;
    border-radius: 5px;
    background: $secondary-color;
    .name{
        margin-bottom: 8px;
    }
}
.cmt-div{
    width: inherit;
    height: 25rem;
    overflow: auto;
    cursor: pointer;
    &::-webkit-scrollbar {
        width: 1vw;
    }
    &::-webkit-scrollbar-track {
        background-color: #5555;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #7775;
    }
}